.context {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.img {
  width: 270px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px;
  width: 100%;
  font-size: 20px;
}

.title {
  font-weight: bold;
  font-family: Poppins, sans-serif;
}

.btn-enabled {
  margin-top: 10px;
  height: 40px;
  width: 150px;
  background-color: rgb(0, 183, 255);
  border: none;
  border-radius: 5px;
  color: wheat;
  font-weight: bold;
}

.btn-disabled {
  margin-top: 10px;
  height: 40px;
  width: 150px;
  background-color: rgb(255, 13, 0);
  border: none;
  border-radius: 5px;
  color: wheat;
  font-weight: bold;
}

.sub-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  height: 20px;
  width: 100px;
  background-color: rgb(26, 133, 2);
  border: none;
  border-radius: 5px;
  color: wheat;
  font-weight: bold;
  font-size: 10px;
}
