.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 100px 200px;
}

.reserve-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reserve-items {
  width: 500px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.join-mission-div {
  margin-left: 20px;
}
