.context{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}

.data{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 10px;
}

.title{
    font-weight: bold;
    font-family: Poppins, sans-serif;
}

.dec{
    margin-top: -10px;
}

.btn {
    height: 40px;
    width: 150px;
    background-color: blue;
    border: none;
    color: wheat;
    font-weight: bold;
}

.btn:hover{
    background-color: rgb(1, 194, 4);
    cursor: pointer;
}