.header {
  width: 100%;
  height: 100px;
  background-color: rgb(252, 252, 252);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-des {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}

.div-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-left: 60px;
  padding-top: 8px;
}

.nav-link {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
  color: rgb(0, 13, 255);
  font-weight: normal;
  font-family: Poppins, sans-serif;
  text-decoration: none;
}

.me {
  background-color: aqua;
}

hr {
  border: solid 1px rgb(0, 0, 0);
  height: 20px;
  background-color: black;
}
